@model ManageExpenses.Models.DeleteExpenseModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div>
        Czy napewno chcesz usunąć ten wydatek?
    </div>

    <input type="submit" value="Tak" />
    <a href="@Url.Action("List")" class="btn btn btn-default" >Nie</a>
}
