@model ManageExpenses.Models.DeleteUserModel


<form method="POST">
	<input type="hidden" name="Id" value="@Model.Id" />

	Czy Napewno chcesz usunąć bieżący rekord?
	<input type="submit" value="Tak" />
</form>